# dependencies
/**/node_modules

# testing
/**/coverage

# production
/**/lib
/**/build
/**/dist
/library/LICENSE
/library/Readme.md

# misc
.DS_Store
npm-debug.log*
lerna-debug.log*
/**/*.tgz
/.idea/
