# dependencies
/**/node_modules

# testing
/**/coverage

# production
/**/lib
/**/build
/**/dist
/library/browser
/library/styles

# misc
.DS_Store
npm-debug.log*
lerna-debug.log*
# /**/*.tgz
/.idea/
