{
  "trailingComma": "all",
  "bracketSpacing": true,
  "tabWidth": 2,
  "endOfLine": "auto",
  "singleQuote": true,



  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "classnames"],
  
  "overrides": [
    {
      "files": ["*.tsx", "*.jsx"],
      "options": {
        "parser": "babel-ts"
      }
    }
  ]

}
