# dependencies
/**/node_modules

# testing
/**/coverage

# production
/**/lib
/**/bundles
/**/build
/**/dist
/library/browser
/library/lib
/library/styles

# misc
.DS_Store
npm-debug.log*
lerna-debug.log*
/**/*.tgz
/.github
