@import 'highlight.js/styles/night-owl.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container\:base .burger-menu {
    @apply lg:hidden;
  }

  .container\:base .sidebar {
    @apply lg:relative lg:block lg:w-64 lg:h-auto;
  }

  .container\:xl .sidebar--wrapper {
    @apply xl:w-full;
    @apply sm:w-full;
  }

  .container\:base .sidebar--content {
    @apply lg:w-56;
  }

  /*.container\:xl .sidebar--content {
    @apply absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }*/

  .container\:base .panel-item {
    @apply 2xl:flex;
  }

  .container\:xl .panel-item {
    @apply block;
  }

  .container\:base .panel--center .panel-item--center {
    @apply 2xl:w-7/12;
  }

  .container\:base .panel--center .panel-item--right {
    @apply 2xl:w-5/12;
  }

  .container\:xl .panel--center .panel-item--center {
    @apply w-full;
  }

  .container\:xl .panel--center .panel-item--right {
    @apply w-full;
  }

  .container\:base .examples {
    @apply 2xl:mt-0;
  }

  .container\:base .panel--right {
    @apply hidden 2xl:block 2xl:w-5/12;
  }

  .container\:xl .panel--right {
    @apply hidden;
  }

  .prose pre {
    @apply whitespace-pre-wrap;
  }
}

@layer utilities {
  .break-anywhere {
    overflow-wrap: anywhere;
  }
}


.loading-bar {
  width: 130px;
  height: 5px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transform: rotateY(0);
  transition: transform .3s ease-in
}
.loading-moving-bar {
  height: 100%;
  width: 68px;
  position: absolute;
  transform: translate(-34px);
  background-color: #4299e1;  /* corresponds to bg-blue-500 */ 
  border-radius: 2px;
  animation: initial-loading 1.5s ease infinite
}
@keyframes initial-loading {
  0% {
    transform: translate(-34px)
  }

  50% {
    transform: translate(96px)
  }

  to {
    transform: translate(-34px)
  }
}