@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ai {
  }
  .ai__chevron {
    @apply inline align-baseline cursor-pointer -mb-1;
    width: 20px;
    transform: rotate(-90deg);
  }

  .ai-info {
    @apply text-left p-4;
  }
  .ai-info__title {
    @apply text-3xl;
  }
  .ai-info__links {
    @apply leading-normal mt-2 space-x-2 space-y-2;
  }
  .ai-info__links-item {
    @apply inline-block;
  }
  .ai-info__links-item > a {
    @apply border border-solid border-orange-300 hover:bg-orange-300 hover:text-orange-600 text-orange-500 font-bold no-underline text-xs uppercase rounded px-3 py-1;
  }
  .ai-info__links-item--reverse > a {
    @apply border-purple-300 hover:bg-purple-300 hover:text-purple-600 text-purple-500;
  }
  .ai-info__tags {
    @apply mt-4;
  }
  .ai-info__description {
    @apply mt-4;
  }

  .ai-servers {
  }
  .ai-servers__list {
  }
  .ai-servers__list-item {
    @apply mb-4;
  }
  .ai-server {
    @apply shadow rounded bg-gray-200 p-4;
  }
  .ai-server__url {
    @apply font-mono text-base;
  }
  .ai-server__protocol {
    @apply bg-teal-500 font-bold no-underline text-white uppercase rounded mx-2 px-2 py-1 text-sm;
  }
  .ai-server__name {
    @apply bg-blue-500 font-bold no-underline text-white uppercase rounded px-2 py-1 text-sm;
  }
  .ai-server__description {
    @apply mt-2;
  }
  .ai-server__url-variables {
    @apply mt-2;
  }
  .ai-server__security {
    @apply mt-2;
  }
  .ai-server__security {
    @apply text-sm mt-4;
  }
  .ai-server__security > h5 {
    @apply text-gray-700 text-base;
  }
  .ai-server__security__list {
  }
  .ai-server__security__list-item {
    @apply mt-2;
  }
  .ai-security__security__security-schema {
  }
  .ai-security__security__security-schema__schemas-list {
    @apply inline-block ml-2;
  }
  .ai-security__security__security-schema__schemas-list-item {
    @apply inline-block font-bold no-underline bg-blue-400 text-white text-xs uppercase rounded px-2 py-0 ml-1;
  }
  .ai-security__security__security-schema__description {
  }
  .ai-security__security__security-schema__flows-list {
    @apply my-2;
  }
  .ai-security__security__security-schema__flows-list-item {
  }
  .ai-security__security__security-schema__flow {
    @apply px-4 py-2 ml-2 mb-2 border border-gray-400 bg-gray-100 rounded;
  }
  .ai-security__security__security-schema__flow > div {
    @apply mt-1;
  }
  .ai-security__security__security-schema__flow > div:first-child {
    @apply mt-0;
  }
  .ai-security__security__security-schema__flow > div > span {
    @apply text-xs font-bold text-gray-600 mt-1 mr-1 uppercase;
  }
  .ai-security__security__security-schema__flow > div > a {
    @apply underline;
  }
  .ai-security__security__security-schema__flow__scopes {
    @apply inline-block;
  }
  .ai-security__security__security-schema__flow__scopes > li {
    @apply inline-block font-bold no-underline bg-indigo-400 text-white text-xs rounded py-0 px-1 ml-1;
  }
  .ai-server__bindings {
    @apply mt-2;
  }

  .ai-operations {
  }
  .ai-operations__list {
  }
  .ai-operations__list-item {
    @apply mb-12;
  }
  .ai-operation {
  }
  .ai-operation > div:first-child {
    @apply mb-4;
  }
  .ai-operation__type {
    @apply font-mono border uppercase p-1 rounded mr-2;
  }
  .ai-operation__type--publish {
    @apply border-blue-600 text-blue-500;
  }
  .ai-operation__type--subscribe {
    @apply border-green-600 text-green-600;
  }
  .ai-operation__channel-name {
    @apply font-mono text-base;
  }
  .ai-operation__channel-description {
    @apply mt-2;
  }
  .ai-operation__summary {
    @apply text-gray-600 text-sm mt-2;
  }
  .ai-operation__description {
    @apply mt-2;
  }
  .ai-operation__channel-parameters {
    @apply mt-2;
  }
  .ai-operation__channel-paremeter-location {
    @apply border text-orange-600 rounded mr-2 p-1 text-xs;
  }
  .ai-operation__multiple-messages {
    @apply mt-2;
  }
  .ai-operation__multiple-messages__list {
  }
  .ai-operation__single-message {
    @apply mt-2;
  }
  .ai-operation__message {
    @apply mt-2;
  }
  .ai-operation__bindings {
    @apply mt-2;
  }
  .ai-operation__channel-bindings {
    @apply mt-2;
  }
  .ai-operation__tags {
    @apply mt-2;
  }

  .ai-messages {
  }
  .ai-messages__list {
  }
  .ai-messages__list-item {
    @apply mb-4;
  }
  .ai-message {
    @apply shadow rounded bg-gray-200 p-4;
  }
  .ai-message__index {
    @apply text-gray-700 font-bold mr-2;
  }
  .ai-message__title {
    @apply text-gray-700 mr-2;
  }
  .ai-message__uid {
    @apply border text-orange-600 rounded text-xs py-0 px-2;
  }
  .ai-message__summary {
    @apply text-gray-600 text-sm;
  }
  .ai-message__correlation-id {
    @apply border bg-gray-100 rounded px-4 py-2 mt-2;
  }
  .ai-message__correlation-id__title {
    @apply text-sm text-gray-700;
  }
  .ai-message__correlation-id__location {
    @apply border text-orange-600 rounded text-xs ml-2 py-0 px-2;
  }
  .ai-message__correlation-id__description {
    @apply mt-2;
  }
  .ai-message__info {
    @apply leading-normal mt-2 mb-4 space-x-2 space-y-2;
  }
  .ai-message__info-item {
    @apply inline-block;
  }
  .ai-message__info-item > a {
    @apply border border-solid border-orange-300 hover:bg-orange-300 hover:text-orange-600 text-orange-500 font-bold no-underline text-xs uppercase rounded px-3 py-1;
  }
  .ai-message__description {
    @apply mt-2;
  }
  .ai-message__payload {
    @apply mt-2;
  }
  .ai-message__headers {
    @apply mt-2;
  }
  .ai-message__bindings {
    @apply mt-2;
  }
  .ai-message__tags {
    @apply mt-2;
  }
  .ai-message__examples {
    @apply p-8 mt-4 bg-gray-800 rounded;
    background-color: #263238;
  }
  .ai-message__examples .ai__chevron > polygon {
    fill: #fff;
  }
  .ai-message__examples h4 {
    @apply text-white text-lg;
  }
  .ai-message__examples__item {
    @apply mt-4;
  }
  .ai-message__examples__content {
    @apply hidden;
  }
  .ai-message__examples__content--opened {
    @apply block;
  }
  .ai-message__examples__type {
    @apply px-2 mr-2 text-gray-200 text-sm border rounded focus:outline-none;
  }
  .ai-message__examples__list {
  }
  .ai-message__examples__example {
    @apply mt-4;
  }
  .ai-message__examples__example pre {
    @apply border border-gray-900 rounded;
  }
  .ai-message__examples__example h5 {
    @apply text-xs font-bold text-gray-700 mb-1;
  }
  .ai-message__examples__example h6 {
    @apply text-xs font-bold text-gray-700 italic mt-2;
  }

  .ai-schema {
  }
  .ai-schema__property {
    @apply flex py-2;
  }
  .ai-schema__property__left {
    @apply pr-2;
    min-width: 25%;
  }
  .ai-schema__property__right {
  }
  .ai-schema__property__name {
    @apply break-words;
  }
  .ai-schema__property__pattern-property {
    @apply text-gray-500 text-xs italic;
  }
  .ai-schema__property__required {
    @apply text-red-600 text-xs;
  }
  .ai-schema__property__deprecated {
    @apply text-red-600 text-xs;
  }
  .ai-schema__property__write-only {
    @apply text-gray-500 text-xs;
  }
  .ai-schema__property__read-only {
    @apply text-gray-500 text-xs;
  }
  .ai-schema__property__uid {
    @apply border text-orange-600 rounded mr-2 p-1 text-xs;
  }
  .ai-schema__property__raw-value {
    @apply text-sm font-bold;
  }
  .ai-schema__property__type {
    @apply capitalize text-sm text-teal-500 font-bold inline-block mr-2;
  }
  .ai-schema__property__constraints {
    @apply inline-block;
  }
  .ai-schema__property__constraint {
    @apply bg-purple-600 font-bold no-underline text-white rounded lowercase mr-2 p-1 text-xs;
  }
  .ai-schema__property__constraint--reverse {
    @apply bg-yellow-600;
  }
  .ai-schema__property__default {
    @apply text-xs;
  }
  .ai-schema__property__const {
    @apply text-xs;
  }
  .ai-schema__property__enum {
    @apply text-xs;
  }
  .ai-schema__property__enum-item {
    @apply border inline-block text-orange-600 rounded ml-1 py-0 px-2;
  }
  .ai-schema__property__documentation {
    @apply border border-solid border-orange-300 hover:bg-orange-300 hover:text-orange-600 text-orange-500 font-bold no-underline text-xs uppercase rounded px-2 py-0;
  }
  .ai-schema__property__parameter-location {
    @apply text-xs;
  }
  .ai-schema__property__examples {
    @apply text-xs;
  }
  .ai-schema__property__examples-item {
    @apply border inline-block text-orange-600 rounded ml-1 py-0 px-2;
  }
  .ai-schema__children {
    @apply rounded p-4 py-2 bg-gray-100 hidden;
  }
  .ai-schema__children--reverse {
    @apply bg-gray-200;
  }
  .ai-schema__children--open {
    @apply block;
  }
  .ai-schema__additional-info {
    @apply mt-2 text-xs text-gray-700;
  }

  .ai-markdown {
    @apply prose text-sm;
    max-width: 100ch;
  }

  .ai-tags {
    @apply leading-normal space-x-2 space-y-2;
  }
  .ai-tags-item {
    @apply inline-block border border-solid border-blue-300 hover:bg-blue-300 hover:text-blue-600 text-blue-500 font-bold no-underline text-xs rounded px-3 py-1;
  }
  .ai-tags-item > a {
    @apply underline;
  }
}
